name: "Blog"

on:
  push:
    branches: [main]

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install Dependencies
        run: cd backend/ && npm install

      - name: Run Lint
        run: cd backend/ && npm run lint

      - name: Type Check
        run: cd backend/ && npx tsc --noEmit

      - name: Build Docker Image
        run: cd backend/ && docker build -f DockerFile -t blog-backend:latest .


